.service{
    border: 2px solid rgb(126, 123, 123);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.356);
    background-color: black;
    color: white;
    font-family: cursive;
}
.service:hover{
    transform: scale3d(1.1,1.1,1.1);
}
img{
    border-radius: 10px;
    margin-bottom: 20px;
}
.btn-effect{
    background: white;
}
.btn-effect:hover{
    background-color: goldenrod;
    color: antiquewhite;
}